<!DOCTYPE html>
<html lang="en">
<head>
    	<meta charset="UTF-8">
    	<title>Security Cameras</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script>
        $(document).ready(function(){
          $("#hide_show").click(function(){
            $("table").fadeToggle("slow");
          });
        });
		
	$(function() {
		setInterval(refreshiframeFast, 2000);
		setInterval(refreshiframeSlow, 5000);
	});
	function refreshiframeFast() {
		$('#Porch').attr('src', $('#Porch').attr('src'));
		$('#Driveway').attr('src', $('#Driveway').attr('src'));
		$('#Street').attr('src', $('#Street').attr('src'));
		$('#Backyard').attr('src', $('#Backyard').attr('src'));
	}
	function refreshiframeSlow() {
		$('#350').attr('src', $('#350').attr('src'));
	}
	</script>
</head>
<body style="background-color:#CCCCCC">


	{% block content %}
    	{% endblock content %}

</body>
</html>

